.food-card {
    background: #5e6d65;
    border-radius: 16px;
    height: 100%;
    min-height: 28rem;
    width: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.food-card:hover {
  background-color: #021015;
  transform: scale(1.05);
  transition-duration: 0.8s;
  box-shadow: 0 1px 30px rgba(12, 0, 0, 0.9);
  cursor: pointer;
}

  
  .food-card-image {
    width: 100%;
  }
  
  .food-card-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: rgb(200, 183, 183);
  }
  
  .food-card-description {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #bde8e8;
  }

  .food-card-description:hover{
    color: #edefee;
  }
  
  .food-card-price {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #ee9972;
  }
  
  .food-card-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .food-card-body-header {
    flex-grow: 1;
  }
  
  .food-card-body-title-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
  }
  
  .food-card-delivery {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    margin-top: 1rem;
  }
  
  .food-card-delivery-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0.5rem 0 0 ;
    color: rgba(145, 171, 60, 0.989);
  }
  @media screen and (max-width: 767px) {
    .food-card {
      background: #101613;
      border-radius: 16px;
      height: 100%;
      min-height: 27rem;
      width: 18rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    
  }