.button {
  background: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #a5ce12;
  color: #24382e;
  font-weight: bold;
  border: 0.1875rem solid #bbb183;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: #748a4b;
  color: rgb(23, 20, 20);
}

.button:active {
  background-color: #565e49;
  color: white;
}